PRESTASHOP_VERSION=9.1.0
PS_DOMAIN=localhost:8080
PS_BIND_IP=127.0.0.1
PS_PORT=8080
PMA_BIND_IP=127.0.0.1
PMA_PORT=8081
PS_FOLDER_ADMIN=admin-dev
ADMIN_MAIL=demo@example.com
ADMIN_PASSWD=ChangeMe123!
DB_NAME=prestashop
DB_USER=prestashop
DB_PASSWORD=prestashop
DB_ROOT_PASSWORD=root
